<div class="deck" {{bind-attr style=bearingCss}}>
  <img src="/deck.png">
  <div class="rudder rudder-left" {{bind-attr style="rudderCss"}}></div>
  <div class="rudder rudder-right" {{bind-attr style="rudderCss"}}></div>
</div>
