/* Put your CSS here */
html, body {
  margin: 20px;
  font-family: sans-serif;
}

.boat {
  width: 45%;
  text-align: center;
  display: inline-block;
}

.boat .deck {
  display: relative;
}

.boat .deck img {
  height: 250px;
}

.boat .deck .rudder {
  position: absolute;
  -webkit-transform-origin: center top;
  width: 2px;
  height: 20px;
  background: #C0362C;
  top: 245px;
}

.boat .deck .rudder-left {
  left: 160px;
}

.boat .deck .rudder-right {
  left: 220px;
}


.instruments {
  display: inline-block;
  width: 45%;
}

.instruments label {
  display: block;
}

.instruments  input {
  font-size: 2em;
}

.instruments input[readonly] {
  color: gray;
}

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }
