{{boat-deck bearing=bearing rudderAngle=rudderAngle}}

<div class="instruments">
  <label>
    Target Bearing<br>
    {{input value=targetBearing type="number" min=0 max=360}}
  </label>

  <label>
    Bearing<br>
    {{input value=bearing type="number" min=0 max=360 readonly="readonly"}}
  </label>

  <label>
    Rudder angle<br>
    {{input value=rudderAngle type="number" readonly="readonly" min=-90 max=90}}
  </label>
</div>
